<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Typing Speed Test</title>
    <link rel="stylesheet" href="../static/styles.css" />
    <script src="../static/page.js" defer></script>
  </head>
  <body>
    <div id="container">
      <div>
        <h1>Typing Speed Test</h1>
      </div>

      <div style="border: solid">
        <div id="quotebox" style="text-align: center; width: auto">
          Quote Text Box<br /><br />
        </div>
      </div>

      <div>
        <input
          id="inputfield"
          autocomplete="off"
          autocorrect="off"
          autocapitalize="off"
          spellcheck="false"
          autofocus
          placeholder
        />
      </div>
      <div>
        <button onclick="prepareTest()" id="resetButton">Reset Test</button>
      </div>
      <div>
        <span>Time: </span>
        <span id="timer"></span>
        <span>sec</span>
      </div>
      <div style="border: solid">
        <div>
          <p1>WPM:</p1>
          <span id="rawwpm"></span>
        </div>
        <div>
          <p1>CPM: </p1>
          <span id="rawcpm"></span>
        </div>
      </div>
      <div style="border: solid">
        <div>
          <p1>Time:</p1>
          <select id="time">
            <option value="5">5 seconds</option>
            <option value="15">15 seconds</option>
            <option value="30">30 seconds</option>
            <option value="60">60 seconds</option>
          </select>
        </div>
        <div>
          <p1>Max Word Length:</p1>
          <select onchange="prepareTest()" id="wordlength">
            <option value="8">8 letters</option>
            <option value="6">6 letters</option>
            <option value="4">4 letters</option>
          </select>
        </div>
        <div>
          <p1>Word Count:</p1>
          <select onchange="prepareTest()" id="wordcount">
            <option value="5" selected>5 words</option>
            <option value="10">10 words</option>
            <option value="15">15 words</option>
            <option value="25">25 words</option>
            <option value="50">50 words</option>
          </select>
        </div>
      </div>
      <div>
        <button id="leaderboardOpenButton">Leaderboard</button>
      </div>
    </div>

    <dialog id="leaderboard-dialog" class="modal" open>
      <div class="modal-content">
        <h3>Add score to leaderboard</h3>
        <input placeholder="Name">
        <button>Add Score</button>
        <br>
        <br>
        <button id="leaderboardCloseButton">Close</button>

      </div>
    </dialog>
  </body>
</html>
