<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Typing Speed Test</title>
    <link rel="stylesheet" href="../static/styles.css" />
    <script src="../static/page.js" defer></script>
  </head>
  <body>
    <div class="container">
      <div>
        <h1 class="title">Typing Speed Test</h1>
        <h5 class="plaintext">
          Type the word and press space to move to the next word. Tab + Enter to
          reset.
        </h5>
      </div>

      <div>
        <span class="plaintext">Time: </span>
        <span class="plaintext" id="timer"></span>
        <span class="plaintext">sec</span>
      </div>

      <div class="section-container">
        <div
          class="plaintext"
          id="quotebox"
          style="text-align: center; width: auto"
        >
        </div>
      </div>

      <div class="input-container">
        <input
          id="inputfield"
          class="textinput"
          autocomplete="off"
          autocorrect="off"
          autocapitalize="off"
          spellcheck="false"
          autofocus
          placeholder="Type here..."
        />
        <button class="bigbutton" onclick="prepareTest()" id="resetButton">
          Reset Test
        </button>
      </div>

      <div class="section-container spaced-flexbox">
        
        <span style="font-weight: bold;" class="plaintext non-selectable">Stats:</span>

        <div>
          <p1 class="plaintext non-selectable">WPM:</p1>
          <span class="plaintext non-selectable" id="rawwpm"></span>
        </div>
        <div>
          <p1 class="plaintext non-selectable">CPM: </p1>
          <span class="plaintext non-selectable" id="rawcpm"></span>
        </div>
      </div>

      
        <div class="section-container spaced-flexbox">
          <span style="font-weight: bold;" class="plaintext">Options:</span>

          <div class="option-container">
            <p1 class="plaintext">Time:</p1>
            <div class="dropdown-container">
              <select class="dropdown" id="time">
                <option value="5.00">5 seconds</option>
                <option value="15.00">15 seconds</option>
                <option selected value="30.00">30 seconds</option>
                <option value="60.00">60 seconds</option>
              </select>
              <div class="dropdown-icon">&#9660</div>
            </div>
          </div>
          
          <div class="option-container">
            <p1 class="plaintext">Max Word Length:</p1>
            <div class="dropdown-container">
              <select class="dropdown" id="wordlength">
                <option value="4">4 letters</option>
                <option selected value="5">5 letters</option>
                <option value="6">6 letters</option>
                <option value="8">8 letters</option>
              </select>
              <div class="dropdown-icon">&#9660</div>
            </div>
          </div>
          
          <div class="option-container">
            <p1 class="plaintext">Word Count:</p1>
            <div class="dropdown-container">
              <select class="dropdown" id="wordcount">
                <option value="5" selected>5 words</option>
                <option value="10">10 words</option>
                <option value="15">15 words</option>
                <option selected value="25">25 words</option>
                <option value="50">50 words</option>
              </select>
              <div class="dropdown-icon">&#9660</div>
            </div>

        </div>
      </div>
      <div>
        <button class="bigbutton" id="leaderboardOpenButton">
          Leaderboard
        </button>
      </div>
    </div>

    <dialog id="leaderboard-dialog" class="modal" open>
      <div class="modal-content">
        <h3 class="plaintext">Leaderboard Top 10</h3>
        <div id="leaderboard-wpm-container">
          <span class="plaintext">Score: </span>
          <span id="leaderboard-wpm" class="plaintext"></span>
          <span class="plaintext"> WPM</span> <br>
        </div>
        
        <form action="/" method="post" id="leaderboard-name-form">
          <input name="name" id="add-score-input" placeholder="Enter your name" class="textinput"/>
          <input name="wpm" id="leaderboard-wpm-hidden" style="display:none;">
          <button type="submit" id="add-score-button" class="bigbutton">Add Score</button>
        </form>
        <div>        
          <table
            class="plaintext"
            id="leaderboard-table"
            style="border-style: solid"
          >
            <thead>
              <tr>
                <th>Rank</th>
                <th>Name</th>
                <th>WPM</th>
                <th>CPM</th>
                <th>Date</th>
              </tr>
            </thead>
            <tbody>
              {% for entry in leaderboard %}
                <tr><td>{{loop.index}}</td><td>{{entry.name}}</td><td>{{entry.WPM}}</td><td>{{entry.CPM}}</td><td>{{entry.datetime}}</td></tr>
              {% endfor %}
            </tbody>
            
          </table>
        </div>
        <br />
        <br />
        <button class="bigbutton" id="leaderboardCloseButton">Close</button>
      </div>
    </dialog>    
  </body>
</html>
